* {
    margin:0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    background-color: #ddd;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
}

/* Container */
.container {
    display: grid;
    gap: 10px;
}
/* Header */
.header {
    display: grid;
    grid-template-areas:
        'hero hero feature-1'
        'hero hero feature-2'
        ;
}

.hero {
    grid-area: hero;
    min-height: 300px;
    background-image: url(img/orange.png);
    background-size: cover;
    padding: 50px;
}

.hero > * {
    display: none;
}

.features {
    background-color: black;
    color: white;
    display: grid;
    /* justify-content: center;
    align-content: center; */
    place-content: center;
    text-align: center;
    cursor: pointer;
}

.feature-1 {
    grid-area: feature-1;
    background-image: url(img/purple.jpg);
    background-size: cover;
}

.feature-2 {
    grid-area: feature-2;
    background-image: url(img/black.jpeg);
    background-size: cover;
}

.features .price {
    font-size: 3em;
    font-weight: lighter;
}

/* Navigator */
.menu {
    order: -1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.menu .brand {
    font-size: 1.3em;
    color: #333;
}

.menu ul {
    display: grid;
    list-style: none;
    grid-template-columns:repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
}

.menu a {
    display: block;
    background-color: #000;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    font-size: 0.8rem;
}
/* Hamburger menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    z-index: 9999;
}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: black;
    border-radius: 1px;
    transition: all 0.5s;
}


/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);

}

.menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}

.menu-toggle input:checked ~ span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);

}

/* Services */
.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;

}

.service {
    background-color: white;
    padding: 15px;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.service h3 {
    font-size: 1.5em;
}

.service p {
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 0.8em;
}



/* Responsive break point */
@media (max-width: 1024px){
    .menu {
        order: inherit;
        grid-template-columns: 1fr;
    }

    .menu .brand {
        display: none;
    }
    .hero > * {
        display: block;
        padding: 5px;
        color: white;
        margin-bottom: 5px;
    }

    .hero{
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: center ;
    }
}

@media (max-width: 768px){
    .menu {
        order:-1;
        justify-items: end;
    }
    .menu-toggle{
        display: flex;
    }
    .menu ul {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        z-index: 999;
        background-color: #000;
        width: 100%;
        transform: translateY(-100%);
        transition: all 1s;
    }
    .menu ul.slide {
        transform: translateY(0);
    }
}

@media (max-width: 600px){
    .header {
        grid-template-areas:
            'hero'
            'feature-1'
            'feature-2'
        ;
    }
}

